<div class="modal-dialog wizard-dialog">
    <div class="modal-content wizard-content">
        <div class="modal-header wizard-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title wizard-title">{{ title }}</h3>
            <span class="wizard-subtitle">{{ subtitle }}</span>
        </div>

        <div class="modal-body wizard-body row">
            <div class="pull-left wizard-steps">
                <div class="wizard-nav-container">
                    <ul class="nav wizard-nav-list"></ul>
                </div>
                <div class="wizard-progress-container">
                    <div class="progress progress-striped">
                        <div class="progress-bar" style="width: 0%;"></div>
                    </div>
                </div>
            </div>

            <form class="form-horizontal">
                <div class="wizard-card-container"></div>
                    <div class="modal-footer">
                        <div class="btn-group-single pull-right">
                            <button class="btn" type="button" role="back">Back</button>
                            <button class="btn btn-primary" type="button" role="next">Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>