<div class="modal-dialog wizard">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">{{ title }}</h3>
            <span class="modal-subtitle">{{ subtitle }}</span>
        </div>

        <div class="modal-body">
            <nav class="nav"></nav>
                    
            <div class="progress progress-striped">
                <div class="progress-bar" style="width: 0%;"></div>
            </div>
            
            <section class="content"></section>
        </div>

        <div class="modal-footer">
            <div class="btn-group-single">
                <button class="btn" type="button" role="back">Back</button>
                <button class="btn btn-primary" type="button" role="next">Next</button>
                <button class="btn btn-primary hidden" type="button" role="submit">Submit</button>
            </div>
        </div> <!-- ./modal-
    </div> <!-- ./modal-content -->
</div> <!-- ./model-dialog -->