extends layout

block content
  <main id="main" class="wrapper"></main>

  <section id="notifications"></section>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog"></div>
        
  script(data-main="/javascripts/config", src="/vendor/requirejs/require.js")