extends layout

block content
  <main id="main" class="wrapper"></main>

  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
        
  script(data-main="/javascripts/config", src="/vendor/requirejs/require.js")