<div class="bs-example">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Size on disk</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>