<h1>Connections</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>#id</th>
      <th>Host</th>
      <th>port</th>
    </tr>
  </thead>
  <tbody></tbody>
</table>

<button id="addHost" class="btn btn-default">
  <span class="glyphicon glyphicon-plus"></span> Add host
</button>