<td>{{ name }}</td>
<td>
    <button class="btn btn-default" role="enter-context">
        <span class="glyphicon glyphicon-list-alt"></span> View documents
    </button>
    <button class="btn btn-default" role="edit">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Advanced <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Copy</a></li>
          <li><a href="#">Rename</a></li>
          <li class="divider"></li>
          <li><a href="#">Get statistics</a></li>
        </ul>
      </div>
    <button type="button" class="btn btn-danger" role="drop">Drop</button>
</td>