<td>{{ name }}</td>
<td>{{ sizeOnDisk }}</td>
<td>
    <button class="btn btn-default" role="enter-context">
        <span class="glyphicon glyphicon-list-alt"></span> Enter context
    </button>
    <button class="btn btn-default" role="edit">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
    <button type="button" class="btn btn-danger" role="drop-database">Drop</button>
</td>