<td>{{ _id }}</td>
<td>
    <button class="btn btn-default" role="edit">
        <span class="glyphicon glyphicon-edit"></span> Edit
    </button>
    <button type="button" class="btn btn-danger" role="delete">Delete</button>
</td>