<td>{{ _id }}</td>
<td>{{ host }}</td>
<td>{{ port }}</td>
<td>
	<button class="btn btn-default" role="enter-context">
    	<span class="glyphicon glyphicon-list-alt"></span> Enter context
	</button>
	<button class="btn btn-default" role="edit">
    	<span class="glyphicon glyphicon-edit"></span> Edit
 	</button>
 	<button class="btn btn-default" role="delete">
    	<span class="glyphicon glyphicon-eject"></span> Delete
 	</button>
</td.