<div class="alert alert-{{ type }} alert-dismissable col-xs-5">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {{#if strong }}<strong>{{ strong }}</strong>{{/if}} {{ msg }}
</div>